.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.option3backgroundgreen
{
    height: 45px;
    width:290px;
    background-color:green ;
    top:20px;
    left:5px;
    position: relative;
}
.option3backgroundgrey
{
    height: 45px;
    width:290px;
    background-color:grey ;
}
.zoom-effect {
  transition: transform 0.3s ease; /* Add a smooth transition for the transform property */
}

.zoom-effect:hover {
  transform: scale(1.1); /* Scale the element up by 10% on hover */
}
